@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Font */
.nav {
    font-family: 'Roboto', sans-serif;
}

html, body {
	color: #222;
	font-family: 'Open Sans', sans-serif;
}

.navbar, footer {
    font-family: 'Roboto', sans-serif;
    background-color: #F7452E;
    color: white;
}
body {
	background-color: #F0F1F5;
	overflow-x: hidden;
}

/* Navbar */
.nav-link {
	font-size: 1.2em;
	display: block;
}
#search-bar {
	visibility: hidden;
	position: fixed;
	z-index: 1;
}
#search-bar input {
	height: 38px !important;
}
#search-bar button {
	height: 38px;
}
.search-toggle {
	background-color: transparent;
	border: none;
}
.search-toggle:hover {
	cursor: pointer;
}

.search-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* footer */
footer {
	background-color: #F7452E;
	color: white;
}
.padding {
    padding: 1rem;
}
footer hr {
	border: none;
	width: 70%;
	border-top: 1px solid #cfc6c6;
}

footer i {
	
	margin-right: 1rem;
}

.fa-facebook {
	font-size: 2em;
	padding: 10px 10px 0 15px;
	display: inline-block;
	color: white;
	background-color: #1D4B99;
	border-radius: 2px;
}
.fa-facebook:hover {
	color: rgb(157, 226, 226);
}

/* Heading */
.heading {
  border-left: 8px double #F7452E;
  padding-left: 1.5rem;
  margin: 1rem 0 0.5rem 0;
}

/* Card */
.card:hover {
	box-shadow: 1px 1px 4px #b4b4b4;
	transition: 0.3s;
}

/* Link title */
.title {
	color: #222;
}
.title:hover {
	text-decoration: none;
}

/* Price */
.currentprice {
    font-size: 18px;
    color: #f57224;
}
.pastprice {
    font-size: 14px;
    text-decoration: line-through;
}

/* Rating */
.rating i{
    font-size: 12px;
    margin: -1px;
}
.rating .light {
    color:#F7CA51;
}
.rating .dark {
    color: #DADADA;
}
.rating .half {
    background: linear-gradient(to right, #F7CA51 0%, #F7CA51 50%, #DADADA 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rating .comment {
    font-size: 12px;
}

/* Icon */
.bigIcon {
    font-size: 18px;
}