/* Sidebar */
.w-20 {
    width: 20%;
}
.w-80 {
    width: 80%;
}
.sidebar a {
    color: hsl(0, 0%, 40%);
}
.sidebar a:hover {
    color: hsl(0, 0%, 20%);
}

.sidebar .active {
    color: hsl(244, 55%, 61%);
}

/* Card */
.card:hover {
    box-shadow: none;
}
.imgsmall {
    width: 60px;
    height: 60px;
}