/* Image group in detail */
.imgGroup {
    max-width: 338px;
    max-height: 410px;
    border: none;
}
.imgGroup .img {
    max-width: 330px;
    max-height: 330px;
}
.imgGroup img {
    width: 100%;
    height: 100%;
}
.imgGroup .row img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}
.imgGroup i {
    cursor: pointer;
    color: hsl(0, 0%, 50%);
    padding: 10px;
}

/* Product info */
.info {
    max-width: 520px;
}
.info .currentprice {
    font-size: 1.5em;
}
.info .pastprice {
    font-size: 18px;
}

.info .color img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
}
.cartNumber {
    width: 100px;
}
.card:hover {
    box-shadow: none;
}

/* Delivery info */
.delivery i {
    color: hsl(0, 0%, 50%)
}
.deliveryWarranty {
    background-color: hsl(0, 0%, 98%);
}

.warranty ul {
    list-style-type: none;
}
.border-right {
    border-right: 1px solid hsl(0, 0%, 70%);
}
.shop .bigSize {
    font-size: 24px;
}

/* Description */
.description {
    
}

/* Normal list card */
.normalcards .card {
    width: 189px;
    height: 325px;
    margin: 0 15px;
}
.normalcards .card .img {
    width: 189px;
    height: 189px;
}
.normalcards img {
    width: 99%;
    height: 100%;
}

/* Rating point */
.summary {
    width: 200px;
    height: 120px;
}
.point {
    font-size: 48px;
}
.totalPoint {
    font-size: 32px;
}
.sizeBig i {
    font-size: 20px;
    margin: 2px;
}
.normalSize i {
    font-size: 14px;
    margin: 1px;
}
.comment .fa-thumbs-up {
    color: hsl(0, 0%, 70%);
    cursor: pointer;
}